{% extends 'base.html' %}

{% block content %}
<h1>Orders</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Table Number</th>
            <th>Items</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.table_number }}</td>
            <td>
                <ul>
                    {% for item in order.items %}
                    <li>{{ item.name }}:  ₽ {{ item.price }}, Кол-во: {{item.quantity}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>₽{{ order.total_price }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>
                <a href="{% url 'order_update' order.id %}" class="btn btn-primary">Edit</a>
                <form action="{% url 'order_delete' order.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}